
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/

eval
weights
draw
vis
job*
run*
*backup*
*1.py
*2.py
datasets/VOCdevkit
datasets/coco2017
weekend.sh
